<div class="wrapper wrapper-content">
  <div class="row">
    <h1 class="title">Phân quyền, quản lý hệ thống</h1>
    <div class="field">
      <label class="label">Address</label>
      <p class="control">
        <input [(ngModel)]="vehicle_plate_id" class="input" type="text" placeholder="9999" name="vehicle_plate_id">
      </p>
    </div>
    <div class="field">
      <label class="label">Quyền</label>
      <p class="control">
        <input [(ngModel)]="vehicle_plate_id" class="input" type="text" placeholder="0x14cce38d6e09016d328acb13d2710b9fbd2f7ec2"
          name="vehicle_plate_id">
      </p>
    </div>
    <button (click)="getInfo()" class="button is-primary">
      Submit
    </button>


  </div>
</div>
