<div class="wrapper wrapper-content">
  <div class="row">
    <h1 class="title">Thay đổi chủ sở hữu</h1>
    <div class="field">
      <label class="label">Plate ID</label>
      <p class="control">
        <input [(ngModel)]="vehicle_plate_id" class="input" type="text" placeholder="9999" name="vehicle_plate_id">
      </p>
    </div>


    <div class="field">
      <label class="label">Chủ sở hữu cũ</label>
      <p class="control">
        <input [(ngModel)]="vehicle_plate_id" class="input" type="text" placeholder="0x14cce38d6e09016d328acb13d2710b9fbd2f7ec2"
          name="vehicle_plate_id">
      </p>
    </div>

    <div class="field">
      <label class="label">Chủ sở hữu mới</label>
      <p class="control">
        <input [(ngModel)]="vehicle_plate_id" class="input" type="text" placeholder="0x14cce38d6e09016d328acb13d2710b9fbd2f7ec2"
          name="vehicle_plate_id">
      </p>
    </div>
    <button (click)="getInfo()" class="button is-primary">
      Đổi chủ sở hữu
    </button>

  </div>
</div>
